:root {
  --fontSize: 0.6945vw;
}
p,
a {
  margin: 0;
  font-family: "Poppins", serif;
  color: #000;
  font-weight: 400;
}
html,
body {
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  font-size: var(--fontSize);
}
.background {
  position: absolute;
  z-index: -1;
  width: 100vw;
}
.logo {
  position: relative;
  z-index: 2;
  margin-top: 2.4rem;
  margin-left: 16.4rem;
  width: 25.8rem;
  height: 4rem;
}
.nav {
  position: relative;
  z-index: 3;
  margin-top: 2.7rem;
  margin-right: 16.6rem;
  width: 4rem;
  height: 4rem;
}
header {
  display: flex;
  justify-content: space-between;
}
.creative {
  position: relative;
  z-index: 2;
  margin-left: 16.6rem;
  margin-top: 12.1rem;
}
.creative-subtitle {
  font-size: 1.4rem;
  color: #fff;
}
.creative-title {
  font-weight: 700;
  font-size: 6rem;
  margin-top: 2.2rem;
  line-height: 7.4rem;
  color: #fff;
}
.creative-discription {
  font-size: 1.6rem;
  margin-top: 2.4rem;
  margin-bottom: 4.5rem;
  line-height: 2.6rem;
  color: #fff;
}
.creative-link {
  color: rgba(255, 215, 35, 1);
  font-size: 1.6rem;
  font-weight: 600;
}
.logo-teams {
  position: relative;
  z-index: 2;
  background: #fff;
  display: flex;
  gap: 6.6rem;
  width: 127.6rem;
  height: 22.7rem;
  margin-left: 16.5rem;
  margin-top: 10.7rem;
  justify-content: center;
  align-items: center;
  box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
  position: absolute;
}
.logo-teams img {
  width: 15.6rem;
  height: 11.3rem;
}
.strategy {
  margin-left: 16.6rem;
  margin-top: 21rem;
  height: 64.4rem;
  display: flex;
}
.strategy-text {
  padding-top: 24.4rem;
  margin-right: 16rem;
}
.strategy-subtitle {
  font-size: 1.4rem;
  color: rgba(77, 83, 60, 0.9);
}
.strategy-title {
  font-size: 3.6rem;
  font-weight: 700;
  color: rgba(77, 83, 60, 1);
  padding-top: 3rem;
}
.strategy-title span {
  background-color: #fffbe9;
}
.strategy-discription {
  font-size: 1.6rem;
  color: rgba(33, 56, 66, 0.6);
  padding-top: 3.5rem;
  padding-bottom: 4.2rem;
}
.strategy-link {
  font-size: 1.6rem;
  font-weight: 600;
  color: rgba(212, 214, 212, 1);
}
.strategy-card {
  background-color: #fff;
  box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
  width: 47.4rem;
}
.card-discription {
  padding-top: 24.4rem;
  font-style: italic;
  font-size: 2.4rem;
  font-weight: 400;
  padding-left: 4rem;
  padding-right: 0.8rem;
  color: rgba(77, 83, 60, 1);
}
.card-signature {
  display: flex;
  margin-left: 4rem;
  margin-top: 5rem;
}
.card-signature img {
  border-radius: 50%;
  width: 9rem;
  height: 9rem;
  box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
}
.signature-text {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.signature-title {
  font-weight: 700;
  font-size: 2.2rem;
  color: rgba(77, 83, 60, 1);
}
.signature-subtitle {
  font-size: 1.6rem;
  color: rgba(21, 41, 52, 1);
}
