:root {
  --fontSize: 0.6945vw;
}
p,
a {
  margin: 0;
  font-family: "Poppins", serif;
  color: #000;
  font-weight: 400;
}
html,
body {
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  font-size: var(--fontSize);
}
a:hover {
  color: rgba(255, 215, 35, 1);
}
::-webkit-scrollbar {
  width: 1px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0);
}
::-webkit-scrollbar-thumb {
  width: 20px;
  background: #000;
}
.background {
  position: absolute;
  z-index: -1;
  width: 100vw;
}
.logo {
  position: relative;
  z-index: 2;
  margin-top: 2.4rem;
  margin-left: 16.4rem;
  width: 25.8rem;
  height: 4rem;
}
.nav {
  position: relative;
  z-index: 3;
  margin-top: 2.7rem;
  margin-right: 16.6rem;
  width: 4rem;
  height: 4rem;
}
header {
  display: flex;
  justify-content: space-between;
}
.creative {
  position: relative;
  z-index: 2;
  margin-left: 16.6rem;
  margin-top: 12.1rem;
}
.creative-subtitle {
  font-size: 1.4rem;
  color: #fff;
}
.creative-title {
  font-weight: 700;
  font-size: 6rem;
  margin-top: 2.2rem;
  line-height: 7.4rem;
  color: #fff;
}
.creative-discription {
  font-size: 1.6rem;
  margin-top: 2.4rem;
  margin-bottom: 4.5rem;
  line-height: 2.6rem;
  color: #fff;
}
.creative-link {
  color: rgba(255, 215, 35, 1);
  font-size: 1.6rem;
  font-weight: 600;
}
.logo-teams {
  position: relative;
  z-index: 2;
  background: #fff;
  display: flex;
  gap: 6.6rem;
  width: 127.6rem;
  height: 22.7rem;
  margin-left: 16.5rem;
  margin-top: 10.7rem;
  justify-content: center;
  align-items: center;
  box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
  position: absolute;
}
.logo-teams img {
  width: 15.6rem;
  height: 11.3rem;
}
.strategy {
  margin-left: 16.6rem;
  margin-top: 21rem;
  height: 64.4rem;
  display: flex;
}
.strategy-text {
  padding-top: 24.4rem;
  margin-right: 16rem;
}
.strategy-subtitle {
  font-size: 1.4rem;
  color: rgba(77, 83, 60, 0.9);
}
.strategy-title {
  font-size: 3.6rem;
  font-weight: 700;
  color: rgba(77, 83, 60, 1);
  padding-top: 3rem;
}
.strategy-title span {
  background-color: #fffbe9;
}
.strategy-discription {
  font-size: 1.6rem;
  color: rgba(33, 56, 66, 0.6);
  padding-top: 3.5rem;
  padding-bottom: 4.2rem;
}
.strategy-link {
  font-size: 1.6rem;
  font-weight: 600;
  color: rgba(212, 214, 212, 1);
}
.strategy-publication {
  background-color: #fff;
  box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
  width: 47.4rem;
}
.publication-discription {
  padding-top: 24.4rem;
  font-style: italic;
  font-size: 2.4rem;
  font-weight: 400;
  padding-left: 4rem;
  padding-right: 0.8rem;
  color: rgba(77, 83, 60, 1);
}
.publication-signature {
  display: flex;
  margin-left: 4rem;
  margin-top: 5rem;
}
.publication-signature img {
  border-radius: 50%;
  width: 9rem;
  height: 9rem;
  box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
}
.signature-text {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.signature-title {
  font-weight: 700;
  font-size: 2.2rem;
  color: rgba(77, 83, 60, 1);
}
.signature-subtitle {
  font-size: 1.6rem;
  color: rgba(21, 41, 52, 1);
}
.project {
  display: flex;
  margin-top: 30rem;
  margin-left: 16.5rem;
  gap: 13.3rem;
}
.project-title {
  font-size: 3.6rem;
  font-weight: 700;
  color: rgba(77, 83, 60, 1);
}
.project-discription {
  font-size: 1.6rem;
  color: rgba(33, 56, 66, 0.6);
}
.block-balenciaga {
  display: flex;
  margin-top: 11rem;
  gap: 9.6rem;
  margin-bottom: 13.5rem;
}
.block-img {
  width: 73.5rem;
  height: 50.5rem;
}
.block-text {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-self: center;
}
.block-title {
  font-size: 3.6rem;
  font-weight: 700;
  color: rgba(77, 83, 60, 1);
}
.block-discription {
  font-size: 1.6rem;
  color: rgba(33, 56, 66, 0.6);
}
.block-link {
  font-size: 1.6rem;
  color: rgba(212, 214, 212, 1);
  font-weight: 600;
  margin-top: 6.6rem;
}
.block-card {
  position: absolute;
  background-color: #fff;
  width: 45.3rem;
  height: 24.3rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin: 37.2rem 0 0 32.2rem;
  box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
}
.card-discription {
  font-size: 1.6rem;
  font-style: italic;
  padding: 3rem 3rem 0 3rem;
}
.card-signature {
  display: flex;
  margin-top: 2.4rem;
  margin-left: 3rem;
  gap: 1.4rem;
}
.card-text {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.card-img {
  border-radius: 50%;
  width: 4.6rem;
  height: 4.6rem;
  box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
}
.card-title {
  color: rgba(77, 83, 60, 1);
  font-size: 1.6rem;
  font-weight: 700;
}
.card-subtitle {
  color: rgba(21, 41, 52, 1);
  font-size: 1.4rem;
}
.block-model {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 11rem;
  gap: 9.6rem;
  margin-left: 17.2rem;
  margin-bottom: 13.5rem;
}
.block-card-reverse {
  position: absolute;
  background-color: #fff;
  width: 45.3rem;
  height: 24.3rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin: 37.2rem 32.2rem 0 0;
  box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
}
.block-booking {
  display: flex;
  margin-top: 11rem;
  gap: 9.6rem;
}
.deation {
  margin-top: 24rem;
  margin-left: 16.5rem;
}
.deation-title {
  font-size: 3.6rem;
  font-weight: 700;
  color: rgba(77, 83, 60, 1);
}
.deation-seactions {
  display: flex;
  gap: 3rem;
}
.deation-section {
  display: flex;
  flex-direction: column;
  width: 25.5rem;
  height: 30.9rem;
  justify-content: space-around;
}
.section-title {
  font-size: 2.4rem;
  color: rgba(77, 83, 60, 1);
}
.section-discription {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.6rem;
  color: rgba(33, 56, 66, 0.6);
}
.section-link {
  font-size: 1.6rem;
  font-weight: 600;
  color: rgba(212, 214, 212, 1);
}
.amazing {
  background-color: #fafafa;
  width: 127.5rem;
  height: 36.2rem;
  box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
  display: flex;
  gap: 5rem;
  flex-direction: column;
  margin-top: 15rem;
  position: absolute;
}
.amazing-title {
  font-weight: 700;
  font-size: 6rem;
  padding-top: 7rem;
  padding-left: 16.4rem;
  color: rgba(77, 83, 60, 1);
}
.amazing-link {
  font-weight: 600;
  font-size: 1.6rem;
  color: rgba(212, 214, 212, 1);
  padding-left: 16.4rem;
}
footer {
  margin-top: 32.2rem;
  background-image: url(img/bg-footer.png);
  background-size: cover;
  width: 100%;
  height: 92rem;
}
.contact {
  display: grid;
  grid-template-columns: repeat(2, 22.6rem);
  grid-template-rows: repeat(2, 4.4rem);
  padding-top: 31rem;
  padding-left: 16.5rem;
}
.contact-title {
  font-size: 1.6rem;
  color: rgba(182, 193, 151, 1);
}
.contact-data {
  font-weight: 700;
  font-size: 1.6rem;
  color: #fff;
}
.line {
  border-bottom: solid;
  border-color: rgba(93, 101, 68, 1);
  border-width: 1px;
  padding-top: 5.2rem;
  margin-left: 16.5rem;
  margin-right: 16.5rem;
}
.footer-menu {
  margin-left: 16.6rem;
  padding-top: 6rem;
  display: flex;
  gap: 10rem;
}
.services,
.help,
.company {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.menu-title {
  font-weight: 600;
  color: #fff;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding-bottom: 2rem;
}
.menu-link {
  font-size: 1.6rem;
  color: rgba(182, 193, 151, 1);
  text-decoration: none;
}
.media {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding-left: 10rem;
}
.media-info {
  font-weight: 700;
  color: #fff;
  font-size: 2.4rem;
}
.media-icon {
  display: flex;
  gap: 1.4rem;
}
.media-icon button {
  border-radius: 50%;
  width: 3.3rem;
  height: 3.3rem;
  border: none;
  background: #444a34;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.media-icon img {
  opacity: 0.5;
  width: 2.4rem;
  height: 2.4rem;
}
.media-icon button:hover {
  background-color: rgba(255, 215, 35, 1);
}
.media-icon button:hover img {
  opacity: 1;
}
.footer-logo {
  display: flex;
  margin-left: 16.5rem;
  margin-right: 16.5rem;
  justify-content: space-between;
  padding-top: 2.5rem;
  align-items: center;
}
.footer-logo p {
  color: rgba(181, 192, 150, 1);
  font-size: 1.4rem;
}
.footer-logo img {
  width: 20rem;
  height: 3.5rem;
}
