/*----------Fonts---------*/
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
}
/*-------------------*/
/*-----null-style-----*/
:root {
  --fontSize: 0.694444444vw;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", serif;
  font-weight: 400;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0;
}

div, section, article {
  box-sizing: border-box;
}

ul,
li,
ol {
  list-style: none;
}

html,
body {
  font-size: var(--fontSize);
  overflow-x: hidden;
  position: relative;
}

::after,
::before {
  display: block;
}

button {
  cursor: pointer;
}

/*-------------------*/
.bg {
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: -1;
}

header {
  padding-top: 2.4rem;
  padding-left: 16.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 16.6rem;
}
header .logo {
  width: 25.6rem;
}
header nav ul {
  display: flex;
  gap: 4rem;
}
header nav ul li {
  font-size: 1.6rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
}
header nav ul li:hover {
  color: #FFD723;
}

main {
  width: 100vw;
  margin-top: 12.1rem;
}
main .title-block {
  padding-left: 16.6rem;
}
main .title-block .subtitle {
  color: white;
  font-size: 1.4rem;
  margin-bottom: 2.2rem;
}
main .title-block .title {
  color: white;
  font-weight: 700;
  font-size: 6rem;
  width: 61.6rem;
  line-height: 7.4rem;
  margin-bottom: 2.4rem;
}
main .title-block .description {
  color: white;
  font-size: 1.6rem;
  width: 58.1rem;
  line-height: 2.6rem;
  margin-bottom: 4.5rem;
}
main .title-block .link {
  color: #FFD723;
  font-weight: 700;
  font-size: 1.6rem;
  text-decoration: underline;
  cursor: pointer;
}
main .client {
  width: 127.6rem;
  height: 22.7rem;
  background: white;
  position: absolute;
  right: 0;
  padding-left: 13rem;
  display: flex;
  align-items: center;
  gap: 6.6rem;
  box-shadow: 5rem 5rem 10rem rgba(0, 0, 0, 0.145947);
  top: 70.8rem;
}
main .client img {
  width: 15.6rem;
}
main .services {
  height: 64.4rem;
  display: flex;
  padding-left: 16.6rem;
  margin-top: 21rem;
  gap: 16rem;
}
main .services .text {
  margin-top: 24.4rem;
}
main .services .text .subtitle {
  color: rgba(77, 83, 60, 0.9);
  font-size: 1.4rem;
  margin-bottom: 2.9rem;
}
main .services .text .title {
  color: rgb(77, 83, 60);
  font-weight: 700;
  font-size: 3.6rem;
  width: 47rem;
  line-height: 4.6rem;
  margin-bottom: 3.5rem;
}
main .services .text .title span {
  font-weight: 700;
  background: rgba(255, 215, 35, 0.1);
}
main .services .text .description {
  color: rgba(33, 56, 66, 0.6);
  font-size: 1.6rem;
  width: 47.5rem;
  line-height: 2.6rem;
  margin-bottom: 4.2rem;
}
main .services .text .link {
  color: rgb(212, 214, 212);
  font-weight: 700;
  font-size: 1.6rem;
  text-decoration: underline;
  cursor: pointer;
}
main .services .text .link:hover {
  color: #FFD723;
}
main .services .card {
  width: 47.4rem;
  height: 100%;
  background: white;
  box-shadow: 0 10rem 10rem rgba(0, 0, 0, 0.145947);
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
main .services .card .text {
  color: rgb(77, 83, 60);
  font-size: 2.4rem;
  font-style: italic;
  width: 42.6rem;
  line-height: 4rem;
}
main .services .card .signature {
  display: flex;
  align-items: center;
  gap: 3rem;
}
main .services .card .signature img {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  box-shadow: 2rem 2.5rem 4.3rem rgba(0, 0, 0, 0.18);
}
main .services .card .signature article {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
main .services .card .signature article .name {
  color: rgb(77, 83, 60);
  font-weight: 700;
  font-size: 2.2rem;
}
main .services .card .signature article .status {
  font-size: 1.6rem;
}
main .project-block {
  margin-top: 15rem;
}
main .project-block article {
  display: flex;
  align-items: center;
  gap: 12.7rem;
  margin-left: 16.6rem;
  width: 111rem;
  border-top: 0.1rem solid rgba(33, 56, 66, 0.1);
  padding-top: 15rem;
  margin-bottom: 10.4rem;
}
main .project-block article h2 {
  font-weight: 700;
  font-size: 3.6rem;
  color: rgb(77, 83, 60);
  width: 33.1rem;
  line-height: 5.4rem;
}
main .project-block article p {
  font-size: 1.6rem;
  width: 51.8rem;
  color: rgba(33, 56, 66, 0.6);
  line-height: 2.6rem;
}
main .project-block .project {
  display: flex;
  gap: 9.6rem;
  align-items: center;
  position: relative;
  margin-bottom: 16.5rem;
}
main .project-block .project img {
  width: 73.5rem;
}
main .project-block .project .text h2 {
  font-weight: 700;
  font-size: 3.6rem;
  color: rgb(77, 83, 60);
  width: 34.5rem;
  line-height: 4.8rem;
  margin-bottom: 2.4rem;
}
main .project-block .project .text .description {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 9rem;
}
main .project-block .project .text .description p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: rgba(33, 56, 66, 0.6);
  width: 42.1rem;
}
main .project-block .project .text .link {
  font-weight: 700;
  font-size: 1.6rem;
  color: rgb(212, 214, 212);
  text-decoration: underline;
  cursor: pointer;
}
main .project-block .project .text .link:hover {
  color: #FFD723;
}
main .project-block .project .block {
  width: 45.3rem;
  position: absolute;
  background: white;
  padding: 3rem;
  border-radius: 0.8rem;
  top: 40rem;
  left: 35rem;
  box-shadow: 5rem 5rem 10rem rgba(0, 0, 0, 0.145947);
}
main .project-block .project .block p {
  font-size: 1.6rem;
  font-style: italic;
  color: rgb(77, 83, 60);
  width: 39rem;
  line-height: 2.6rem;
}
main .project-block .project .block .signature {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  gap: 1.4rem;
}
main .project-block .project .block .signature img {
  width: 4.6rem;
  height: 4.6rem;
  border-radius: 50%;
  box-shadow: 2rem 2.5rem 4.3rem rgba(0, 0, 0, 0.18);
}
main .project-block .project .block .signature .text .name {
  font-weight: 700;
  font-style: normal;
  color: rgb(77, 83, 60);
}
main .project-block .project .block .signature .text .status {
  font-style: normal;
  color: rgb(21, 41, 52);
}
main .project-block [rotation=left].project {
  flex-direction: row-reverse;
}
main .project-block [rotation=left].project .block {
  left: 66.5rem;
}
main .project-block span {
  display: block;
  width: 111rem;
  height: 0.2rem;
  border-top: 0.1rem solid rgba(33, 56, 66, 0.1);
  margin-left: 16.6rem;
}
main .deation {
  padding-left: 16.6rem;
  margin-top: 15rem;
  margin-bottom: 32.3rem;
}
main .deation article h2 {
  font-weight: 700;
  font-size: 3.6rem;
  color: rgb(77, 83, 60);
  width: 60rem;
  line-height: 4.6rem;
}
main .deation .content {
  margin-top: 6rem;
  display: flex;
  gap: 3rem;
}
main .deation .content .block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30.9rem;
  padding: 2.7rem 3rem 3.6rem 3rem;
}
main .deation .content .block h3 {
  width: 18.3rem;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.4rem;
  color: rgb(77, 83, 60);
  text-transform: uppercase;
  margin-bottom: 2rem;
}
main .deation .content .block p {
  width: 19.4rem;
  font-size: 1.4rem;
  color: rgba(33, 56, 66, 0.6);
  line-height: 2.6rem;
}
main .deation .content .block .link {
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
  color: rgb(212, 214, 212);
  font-size: 1.6rem;
}
main .deation .content .block .link:hover {
  color: #FFD723;
}

footer {
  width: 100vw;
  height: 58rem;
  background-image: url("img/bg-footer.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 30.9rem 16.4rem 3.1rem 16.6rem;
  position: relative;
}
footer .letsStarted {
  top: -17.3rem;
  left: 0;
  position: absolute;
  width: 127.5rem;
  height: 36.2rem;
  background: rgb(250, 250, 250);
  padding: 7rem 0 7rem 16.4rem;
}
footer .letsStarted h2 {
  font-weight: 700;
  font-size: 6rem;
  width: 82.2rem;
  color: rgb(77, 83, 60);
}
footer .letsStarted p {
  text-transform: uppercase;
  text-decoration: underline;
  margin-top: 3.5rem;
  color: rgb(212, 214, 212);
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
}
footer .letsStarted p:hover {
  color: #FFD723;
}
footer .container .info {
  display: flex;
  gap: 12.8rem;
  margin-bottom: 8.7rem;
}
footer .container .info div {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
footer .container .info div p {
  color: rgb(182, 193, 151);
  font-size: 1.6rem;
}
footer .container .info div h3 {
  font-weight: 700;
  font-size: 1.6rem;
  color: white;
}
footer .container .content {
  margin-top: 8rem;
  margin-bottom: 8rem;
  display: flex;
  gap: 10rem;
}
footer .container .content nav {
  display: flex;
  flex-direction: column;
  gap: 2.1rem;
}
footer .container .content nav p {
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  font-size: 1.6rem;
}
footer .container .content nav ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
footer .container .content nav ul li {
  color: rgb(182, 193, 151);
  font-size: 1.6rem;
  cursor: pointer;
}
footer .container .content nav ul li:hover {
  color: #FFD723;
}
footer .container .content span {
  width: 0.2rem;
  border-top: 0;
  height: 21rem;
  border-left: 0.1rem solid rgb(93, 101, 68);
}
footer .container .content .social {
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
}
footer .container .content .social .title {
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  font-size: 1.6rem;
}
footer .container .content .social .text {
  color: rgb(182, 193, 151);
  font-size: 1.6rem;
  width: 27rem;
}
footer .container .content .social h2 {
  color: white;
  font-weight: 700;
  font-size: 2.4rem;
}
footer .container .content .social div {
  display: flex;
  gap: 1.1rem;
}
footer .container .content .social div button {
  border: none;
  background: rgb(68, 74, 52);
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  display: grid;
  place-content: center;
}
footer .container .content .social div button img {
  width: 2.5rem;
  opacity: 0.5;
}
footer .container .content .social div button:hover {
  background: #FFD723;
}
footer .container .content .social div button:hover img {
  opacity: 1;
}
footer .container .footer {
  display: flex;
  margin-top: 2.5rem;
  justify-content: space-between;
  width: 111rem;
  align-items: center;
}
footer .container .footer img {
  height: 3rem;
  cursor: pointer;
}
footer .container .footer p {
  font-size: 1.4rem;
  color: rgb(181, 192, 150);
}
footer .container span {
  display: block;
  width: 111rem;
  height: 0.2rem;
  border-top: 0.1rem solid rgb(93, 101, 68);
}

/*# sourceMappingURL=style.css.map */
